.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../../../../assets/arkaplan.jpg'); /* Resmin yolunu belirtin */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* İçeriğin arka planın üzerinde görünmesi için */
}

/* İçerik stili */
.content {
  position: relative;
  color: white; /* Metin rengini beyaz yaparak okunabilirliği artırır */
  padding: 20px;
  text-align: center;
  z-index: 1; /* İçeriğin arka planın üstünde görünmesi için */
}