button {
    // Butonlar arası boşluk eklemek için
    margin-right: 10px; // Son buton hariç, tüm butonlara boşluk eklemek için

    // Buton boyutunu büyütmek için
    padding: 8px 16px;
    font-size: 16px; // Yazı boyutunu büyütme

    // Hatlarını belirginleştirmek için
    border: 2px solid #1976d2; // İstediğiniz renge göre ayarlayın
    border-radius: 4px;

    // İsteğe bağlı olarak butona hover efekti ekleyebilirsiniz
    &:hover {
        background-color: #e3f2fd; // Hover rengini ayarlayın
    }
}

// Son butonun margin-right özelliğini kaldırmak için
button:last-child {
    margin-right: 0;
}