.main-content {
    flex: 1;
    /* İçerik alanının genişlemesini sağlar */
    padding: 20px;
    /* İçerik alanına boşluk */
    background-color: #f1f3f5;
    /* İçerik arka plan rengi */
    overflow-y: auto;
    /* İçerik kısmı taşarsa kaydırma sağlar */
    min-height: 0;
    /* İçerik alanının doğru görünmesi için */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

// Row ve Column ayarları
.row {
    margin: 0;
}

.col-md-12 {
    padding: 20px;
}

// Modal stil ayarları
.modal {
    &.fade {
        transition: opacity 0.5s ease;
    }

    .modal-dialog {
        max-width: 90%;
        margin: 1.75rem auto;
    }

    .modal-content {
        border-radius: 0.5rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
}

// Spinner bileşenleri
ngx-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Sayfanın tamamını kaplamak için

    &.default {
        margin: 20px;
    }

    // Spinner tipleri için özel stiller
    &.ball-atom {
        color: #007bff;
    }

    &.ball-scale-multiple {
        color: #28a745;
    }

    &.ball-spin-clockwise-fade-rotating {
        color: #dc3545;
    }
}