<div class="card-container">
  <mat-card class="example-card " appearance="outlined" *ngFor="let basketItem of basketItems;let i=index">
    <mat-card-header>
      <mat-card-title class="title">{{basketItem.name}} </mat-card-title>
    </mat-card-header>
    <div class="content-container">
      <img class="card-image" src="../../../../assets/default-product.png">
      <div class="product-info">
        <p class="price">Price:{{basketItem.price |currency:'₺'}}</p>
        <p class="stock">Sipariş Adedi:{{basketItem.quantity}}</p>

      </div>
    </div>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" class="btn btn-danger" (click)="removeBasketItem(basketItem.basketItemId,$event)">X</button>
    </mat-card-actions>
  </mat-card>
</div>